*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: linear-gradient(to top , rgba(0, 0, 0, 0.5),#011b19), url(images/bg\ image.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
}


.navbar{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100px;
    align-items: center;
    z-index: 1;
    position: sticky;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
}

.navbar__container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__menu{
    list-style: none;
    display: flex;
}

.navbar__item{
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 10px;
}

.navbar__link{
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #fff;
    position: relative;
}

.navbar__link::after{
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    background: #009688;
    top: 0;
    left: 0;
    margin-top: 25px;
    border-radius: 4px;
    transition: .5s;
}

.navbar__link:hover::after{
    width: 100%;
}

#navbar__item{
    position: relative;
    display: flex;
}

.navbar__logo{
    color: #fff;
    font-size: 1.5em;
}

span{
    color: #ff000f;
}

.navbar__logo p{
    width: 50px;
    height: 50px;
    margin: -5px -10px;
    position: absolute;
    border-left: 5px solid #ff000f;
    border-bottom: 5px solid #ffff;
    border-radius: 50px;
    rotate: 30deg;
}


a:hover{
    color: #009688;
    transition: 0.4s;
}

.play-btn{
    /* position: absolute; */
    position: relative;
    color: #fff;
    margin-left: 20px;
    width: 1px;
    height: 1px;
    fill: #fff;
    rotate: 90deg;
}

.play-btn:hover{
    color: #009688;
    transition: 0.4s;
}

.content{
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    top: 30%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
}

.btn{
    padding: 10px 20px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1em;
    margin: 30px 10px;
    outline: none;
    position: relative;
    transition: 0.5s;
}

.btn::after{
    content: '';
    position: absolute;
    background: #fff;
    transition: 0.5s;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
}

.btn:hover::after{
    width: 100%;
}

.btn:hover{
    color: #011b19;
}

@media screen and (max-width :960px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        max-width: 1300px;
        z-index: 1;
        width: 100%;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        top: -1000px;
        position: absolute;
        opacity: 0;
        transition: all 0.5s ease;
        height: 60vh;
        z-index: -1;
        background: #091615;
    }

    .navbar__menu.active{
        top: 100%;
        z-index: 99;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        font-size: 1.5rem;
    }

    .logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background: #fff;
        transition: all 0.4s ease-in-out;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 25%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        margin: 0%;
    }

    /* The bar icon */
    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translatey(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translatey(-8px) rotate(-45deg);
    }

    .navbar__menus{
        background: #131313;
        display: block;
        height: 0;
        width: 100%;
    }
    #navbar__item:hover .navbar__menus{
        margin-top: 10px;
        position: absolute;
        height: 400px;
    }

    .play-btn{
        margin: 2px 30px;
    }
    .navbar__logo{
        padding-left: 20px;
    }
    .content{
        font-size: 20px;
        margin-top: 50px;
        text-align: center;align-items: center;
    }
}